* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/aclocal.m4 -text
/autogen.sh -text
autom4te.cache/output.0 -text
autom4te.cache/output.1 -text
autom4te.cache/requests -text
autom4te.cache/traces.0 -text
autom4te.cache/traces.1 -text
/config.guess -text
/config.h.in -text
/config.h.in~ -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
/install-sh -text
/intltool-extract.in -text
/intltool-merge.in -text
/intltool-update.in -text
/libgmtk.anjuta -text
/ltmain.sh -text
/missing -text
po/ChangeLog -text
po/LINGUAS -text
po/Makefile.in.in -text
po/POTFILES.in -text
src/Makefile.am -text
src/Makefile.in -text
src/gm_audio.c -text
src/gm_audio.h -text
src/gm_file.c -text
src/gm_file.h -text
src/gm_parse.c -text
src/gm_parse.h -text
src/gm_pref_store.c -text
src/gm_pref_store.h -text
src/gm_strfuncs.c -text
src/gm_strfuncs.h -text
src/gmlib.h -text
src/gmtk.h -text
src/gmtk_audio_meter.c -text
src/gmtk_audio_meter.h -text
src/gmtk_common.h -text
src/gmtk_media_player.c -text
src/gmtk_media_player.h -text
src/gmtk_media_tracker.c -text
src/gmtk_media_tracker.h -text
src/gmtk_output_combo_box.c -text
src/gmtk_output_combo_box.h -text
src/lib.c -text
src/libgmlib.pc.in -text
src/libgmtk.pc.in -text
